.A {
    background-color: #ffa500;
    width: 500px;
    height: 500px;
}

.B {
    background-color: #008000;
    width: 50%;
    height: 50%;
}

.C {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: 700;
}

.D {
    width: 50%;
    height: 50vh;
    background-color: rgb(135, 206, 250);
}

.E {
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0);
}